@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Roboto Mono" sans-serif;
}
.navbar {
  font-family: "Roboto Mono" sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  border-bottom: 0.5px solid grey;
}

.navbar li {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  list-style-type: none;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar li:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.navbar h1 {
  padding: 10px;
  margin: 7px;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

.calculator {
  font-family: "Roboto Mono", sans-serif;
  color: #333;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  /* background-color: blue; */
}

.calculator h1 {
  color: #000;
  margin-bottom: 1rem;
  font-weight: 700;
}

.calculator p {
  margin-bottom: 2rem;
  line-height: 1.5;
  font-weight: light;
}

.calculator .inputs-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

.calculator .input-container {
  display: flex;
  flex-direction: column;
}

.calculator label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.calculator input[type="time"] {
  /* border: 2px solid #ccc; */
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 10px;
}

.calculator button {
  background-color: #df8601;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.05s;
  border-radius: 5px;
}

.calculator button:hover,
.calculator button:focus {
  background-color: #cc7a00;
}

.calculator .button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.banner {
  margin: 0 auto;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-top: 75px;
}

.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.banner img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.benefitssection h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
}

.benefitslist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
  width: 80%;
  margin: auto;
  padding: 0;
}

.benefit-item {
  max-width: 15%;
  background: #f7f7f7;
  border: 1px grey solid;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.benefit-item p {
  color: #9a5d02;
}

.benefit-item strong {
  display: block;
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.benefit-item img {
  width: 25px;
  height: auto;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .navbar li,
  .navbar h1 {
    font-size: 16px;
    padding: 5px;
  }

  .calculator {
    padding: 1rem;
    margin: 20px 10px;
    max-width: 90%;
  }

  .benefitslist,
  .calculator .inputs-container {
    flex-direction: column;
  }

  .benefit-item {
    max-width: 90%;
    margin-bottom: 10px;
  }

  .banner img {
    margin-top: 100px;
  }
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
  }

  .navbar li,
  .navbar h1 {
    font-size: 14px;
  }

  .benefit-item {
    max-width: 100%;
  }
}
