@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Adjust as needed */
  background-color: white;
  border-bottom: 0.5px solid grey;
}

.navbar li {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  list-style-type: none;
}

.navbar a {
  color: black;
  text-decoration: none;
}

.navbar li:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}

.navbar h1 {
  padding: 10px;
  margin: 7px;
  font-size: xx-large;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

a {
  text-decoration: none;
}

/* General styles for the calculator */
.calculator {
  font-family: "Roboto Mono", sans-serif; /* Use your preferred font-family */
  color: #333; /* Dark text for better readability */
  max-width: 600px; /* Adjust width as needed */
  margin: 0 auto; /* Center the calculator */
  padding: 2rem; /* Padding around the content */
  background-color: #fff; /* White background */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
  border-radius: 20px; /* Rounded corners */
  align-items: center;
  justify-content: center;
  background-color: blue;
}

/* Styles for the header */
.calculator h1 {
  color: #000; /* Black color for the heading */
  margin-bottom: 1rem; /* Space below the heading */
  font-weight: 700; /* Bold font weight */
}

/* Description text styles */
.calculator p {
  margin-bottom: 2rem; /* Space below the paragraph */
  line-height: 1.5; /* Line height for better readability */
  font-weight: light;
}

/* Container for the inputs */
.calculator .inputs-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem; /* Space below the inputs */
}

/* Individual input container styles */
.calculator .input-container {
  display: flex;
  flex-direction: column;
}

/* Styles for labels */
.calculator label {
  font-weight: bold;
  margin-bottom: 0.5rem; /* Space below the label */
}

/* Styles for inputs */
.calculator input[type="time"] {
  border: 2px solid #ccc; /* Light gray border */
  padding: 0.5rem; /* Padding inside the inputs */
  font-size: 1rem; /* Larger font size for readability */
  border-radius: 10px;
}

/* Styles for the calculate button */
.calculator button {
  background-color: #df8601; /* Orange background */
  color: #fff; /* White text */
  border: none;
  padding: 0.5rem 1rem; /* Padding inside the button */
  font-size: 1rem; /* Font size to match inputs */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.05s; /* Transition for hover effect */
  border-radius: 5px;
}
/* Hover and focus styles for the button */
.calculator button:hover,
.calculator button:focus {
  background-color: #cc7a00; /* Darker orange on hover/focus */
}

.calculator .button-container {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end; /* This aligns the button to the right */
}
.banner {
  margin: 0 auto;
  overflow: hidden; /* This will hide any part of the image that overflows the container's bounds */
  /* width: 70%; */
}

.banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center; /* Align the bottom part of the image to the container's bottom */
  border-radius: 10px;
  margin-top: 150px;
}

/* General Benefits container styles */
.benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Banner image styles */
.banner img {
  width: 100%;
  max-height: 300px; /* Adjust as needed */
  object-fit: cover;
  border-radius: 10px;
}

.benefitssection h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 50px;
}

/* Benefits list styles */
.benefitslist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
  /* background-color: blue; */
  width: 80%;
  margin: auto;
  padding: 0;
}

/* BenefitItem styles */
.benefit-item {
  max-width: 15%;
  background: #f7f7f7;
  border: 1px grey solid;
  margin-bottom: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}

.benefit-item p {
  color: #9a5d02;
}

.benefit-item strong {
  display: block; /* Makes the name block level for its own line */
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.benefit-item img {
  width: 25px;
  height: auto;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
